doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bookshop
    link(rel='stylesheet' type='text/css' href='output/main.css')
  body
    h1  привет
    script(src='output/main.js')
