/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./main_css.css ***!
  \*******************************************************************************************************/
body {
  margin: 0%;
  padding: 0%;
}

h1 {
  color: blue;
  background-color: #fff;
}
